<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="foot-about">
                        <h2>
                            <a href="#"><img src="../assets/img/logo.png" alt=""></a>
                        </h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem</p>

                    </div>
                    <!-- .foot-about -->
                </div>
                <!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>Contact</h2>

                        <ul class="p-0 m-0">
                            <li><span>Addtress:</span>Mitlton Str. 26-27 London UK</li>
                            <li><span>Phone:</span>+53 345 7953 32453</li>
                            <li><span>Email:</span>yourmail@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-links">
                        <h2>Usefull Links</h2>

                        <ul class="p-0 m-0">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                    <!-- .foot-links -->
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
            <hr class="text-danger">
            <div class="row mt-5">
                <div class="col-lg-12 text-center">
                    <p class="copyright">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | Made with
                        <i class="fa fa-heart text-danger" aria-hidden="true"></i> by
                        <a href="" target="_blank">SBAdmin</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .container -->
    </div>
    <!-- .footer-widgets -->
</footer>