@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');
body {
    color: #404040;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Raleway', sans-serif;
}

img {
    vertical-align: baseline;
}


/*
# Button
----------------------------------*/

.button {
    padding: 12px 50px 10px;
    margin-right: 32px;
    border: 0;
    border-bottom: 3px solid #18a3eb;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #404040;
    outline: none;
    background: #f0f4f8;
    text-decoration: none !important;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button.dark {
    border-color: transparent;
    color: #fff;
    background: #18a3eb;
}

.button.gradient-bg {
    border-color: transparent;
    background: -moz-linear-gradient(180deg, rgba(50, 200, 250, 1) 0%, rgba(88, 125, 228, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50, 200, 250, 1)), color-stop(100%, rgba(88, 125, 228, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(50, 200, 250, 1) 0%, rgba(88, 125, 228, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(50, 200, 250, 1) 0%, rgba(88, 125, 228, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(50, 200, 250, 1) 0%, rgba(88, 125, 228, 1) 100%);
    /* ie10+ */
    background: linear-gradient(270deg, rgba(50, 200, 250, 1) 0%, rgba(88, 125, 228, 1) 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#18a3eb', endColorstr='#587de4', GradientType=1);
    /* ie6-9 */
    color: #fff;
}


/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.homepage-boxes {
    padding: 110px 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    position: relative;
    padding: 48px 0;
    background: url("../img/footer-bg.png") no-repeat center #fff;
    background-size: cover;
    font-size: 14px;
    color: #828282;
}

.footer-widgets h2 {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #404040;
}

.foot-about p {
    font-size: 14px;
    line-height: 2;
}

.foot-about p.copyright {
    margin-top: 24px;
    font-size: 12px;
    font-weight: 500;
}

.foot-contact ul {
    list-style: none;
}

.foot-contact ul li {
    margin-bottom: 5px;
    font-weight: 500;
}

.foot-contact ul li span {
    display: inline-block;
    color: #404040;
}

.foot-contact ul li span {
    width: 64px;
}

.foot-links ul {
    list-style: none;
    column-count: 2;
    column-gap: 10px;
}

.foot-links ul li {
    margin-bottom: 5px;
}

.foot-links ul li a {
    color: #828282;
}